<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css">
<header class="header">
    <a href="/" class="header_logo">Admin Panel</a>

    <nav class="header_nav header__nav" aria-label="Main navigation">
        <ul>
            <li><a href="/" class="nav-link">Home</a></li>
            <li><a href="/posts" class="nav-link">Posts</a></li>
            <li><a href="/about" class="nav-link">About</a></li>
            <li><a href="/contact" class="nav-link">Contact</a></li>
        </ul>
    </nav>

    <div class="header_button">
       <button><a href="/admin/logout">Logout</a></button>

</header>